---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


TA Mentorship Program 2023-2024: Provided new TAs with feedback on their teaching
<br>
Calculus and Linear Algebra for Commerce MAT133Y1Y 2023-2024: led four tutorials per week of size 16 students, flipped classroom
<br>
Observation TA 2022-2023: Provided new TAs with feedback on their teaching
<br>
Calculus and Linear Algebra for Commerce MAT133Y1Y 2022-2023: led three tutorials per week of size 16 students, flipped classroom
<br>
Calculus I MAT135H1Y Summer 2022
<br>
Multivariable Calculus with Proofs MAT237Y1Y 2021-2022
<br>
Linear Algebra I Summer 2021

Calculus II MAT187S Winter 2021
Linear Algebra I MAT224S Winter 2021
