---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


TA Mentorship Program 2023-2024
Provided new TAs with feedback on their teaching
MAT133Y1Y 2023-2024
Calculus and Linear Algebra for Commerce, led four tutorials per week of size 16 students, flipped classroom
Observation TA 2022-2023
Provided new TAs with feedback on their teaching
MAT133Y1Y 2022-2023
Calculus and Linear Algebra for Commerce, led three tutorials per week of size 16 students, flipped classroom
MAT135H1Y Summer 2022
Calculus I
MAT237Y1Y 2021-2022
Multivariable Calculus with Proofs
Linear Algebra I Summer 2021
Linear Algebra I
MAT187S Winter 2021
Calculus II
MAT224S Winter 2021
